#postpage {
    background-color: red;
    width: 80%;
    margin: 0 auto;
}

#post-content {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #1ba737;
}