<main id="homepage">
    <h2>Posts</h2>
    <button><a href="#postForm">Create a new post</a></button>
    
    <section>
        <app-post-list *ngFor="let post of posts" [post]="post" />
    </section>
    <section>
        <h2>Create a new Post</h2>
        <form [formGroup]="applyForm" (submit)="createPost()" id="postForm">
            <div class="form-group">
                <label for="title">Title</label><br>
                <input type="text" id="title" name="title" formControlName="title">
            </div>
            <pre></pre>
            <div class="form-group">
                <label for="content">Content</label><br>
                <input type="textarea" id="content" name="content" formControlName="content">
            </div>
            <pre></pre>
            <div *ngIf="postResponseMessage"
                [ngClass]="{
                'fade-message': true,
                'hidden': !messageVisible,
                'success-message': isSuccess,
                'error-message': !isSuccess
                }">
            {{ postResponseMessage }}
            </div>
            <button type="submit" class="primary">Submit Post</button>
        </form>
    </section>
</main>